.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.grid  {
  display: inline-block;
  postion:relative;
  margin: 20px 20px;
}
.front {
  font-family: Helvetica, sans-serif;
  position: relative;
    background: #1a1c3a;
  width: 280px;
  height: 200px;
  margin: 20px;
  border-radius: 7px;
  margin: 0 auto;
}
.text-box {
    position: absolute;
    height: 100%;
    text-align: center;
    margin-top: 80px;
    color: white;
    width: 100%;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
h4 {
   display: inline-block;
   font-size: 18px; /*or whatever you want*/
   color: white;
}
